$font: 'Raleway', sans-serif;
$button-font-size: 14pt;
$body-bg: #fbc02d;
$modal-bg: #f5f5f5;

@mixin user-select($value) {
  -webkit-touch-callout: $value;
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}
