#logo {
  position: fixed;

  width: 50%;

  #logo-bg {
    width: 100vw;
    transform: translate(-25vw, 30vh);
  }

  #logo-texts {
    position: absolute;
    z-index: 10;
    top: 36vh;
    transform: translate(-50%, -50%);
    left: calc(50% - 3pt);
  }

  h1 {
    margin: 0;
    font-size: 80pt;
    line-height: 64pt;
    text-align: center;
  }

  h2 {
    margin: 0;
    font-size: 14pt;
    text-align: center;
    padding-left: 2pt;
  }

  @media (max-width: 420px){
    width: 100%;

    #logo-bg {
      width: 200vw;
      transform: translate(-50vw, 10vh);
    }

    #logo-texts {
      top: 4vh;
      transform: translateX(-50%)
    }
  }
}