#menu {
  position: fixed;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 50%;
  left: 50%;
  height: 100%;
  padding: 0 40pt;

  @media (max-width: 420px) {
    width: 100%;
    left: 0;

    height: calc(100% - 4vh - 86pt);
    top: calc(4vh + 86pt);

    button {
      margin: 16pt 0;
    }
  }

  button {
    height: 20%;
    margin: 8pt 0;
    font-size: 24pt;
    outline: none;
    background: #f5f5f5;
    border: 2pt solid black;

    &:active {
      background: black;
    }
  }

  label {
    @extend button;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.screen {
  position: fixed;
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: 20;
  background: white;
  transform: translateY(100%);
  transition: 0.4s ease transform;

  @media (max-width: 420px){
    width: 100%;
    left: 0;
  }
}