@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: url('./fonts/raleway/Raleway-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/raleway/Raleway-SemiBold.ttf') format('truetype')
}
