html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #406c8f;
}

#canvas-wrapper {
  outline: none;
  position: fixed;
}

.event-source {
  width: 100%;
  height: 100%;
}

footer {
  display: none;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 8pt;
}