html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #406c8f;
}

#canvas-wrapper {
  outline: none;
  position: fixed;
}

.event-source {
  width: 100%;
  height: 100%;
}

footer {
  display: none;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 8pt;
}

#perspective {
  pointer-events: none;
  position: fixed;
  transform: rotate(0deg);
  right: 60px;
  bottom: 0;
  transition: 0.25s ease;
}

#compass {
  transform: rotateX(45deg) rotateZ(45deg);
}